.App {
  text-align: center;
  width: 20%;
  height: 200px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.start{
  padding: 10px 30px;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: #61dafb;
  border: none;
  border-radius: 5%;
}
.start:hover {
  background-color: gold;
  cursor: pointer;
}
.stop:hover {
  background-color: black;
  cursor: pointer;
}
.stop{
  padding: 10px 30px;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: red;
  color: antiquewhite;
  border-radius: 5%;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
